*/*初期化*/
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    white-space: nowrap;
}

.main
{
    width: 100vw;
    height: 100vh;
    background-color: rgb(38, 38, 38);
    overflow: auto;
}

/*お知らせ*/
.notice
{
    text-align: center;
    color: white;
    /*画像エリア*/
    .cm
    {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5vw;
        /*矢印*/
        div
        {
            /*表示設定*/
            display: flex;
            cursor: pointer;
            font-size: 15vw;
            color: rgb(6, 62, 88);
            /*矢印の周りに白枠をつける*/
            text-shadow: 
            -1px -1px 0 white,
            1px -1px 0 white,
            -1px 1px 0 white,
            1px 1px 0 white;
        }
        /*画像*/
        #imgBox
        {
            /*表示するもの*/
            content: url("/Materials/CmFHD.png");
        }
    }
}

/*コメントとシェア*/
.others
{
    /*コメント*/
    .comment
    {
        display: flex;
        /*コメント*/
        p
        {
            background-image: url(Materials/SpeechBabble.png);
            background-repeat: no-repeat;
            color: black;
        }
    }

    /*シェア*/
    .share
    {
        /*説明文*/
        explain
        {
            color:white;
        }
        /*シェアエリア*/
        .shareBox
        {
            /*表示設定*/
            display: flex;
            background-color: rgb(127, 127, 127);
            /*位置調整*/
            justify-content: left;
            align-items: center;
            /*シェア文字*/
            p
            {
                padding: 2vw;
                font-size: 5vw;
            }
        }
    }
}

/*PC版*/
@media (min-width:769px)
{
    /*お知らせ*/
    .notice
    {
        height: 25vw;
        padding: 0px;
        /*タイトル*/
        .title
        {
            font-size: 25px;
        }

        /*画像*/
        #imgBox
        {
            /*スタイル設定*/
            width: 35vw;
            height: 19.6875vw;/*FHDに対応させたサイズ*/
            border-radius: 50px;
        }
        p
        {
            height: 10vw;
            padding: 0px;
            align-items: center;
        }
    }

    /*コメントとシェア*/
    .others
    {
        position: relative;

                /*全体 - 帯 - お知らせ*/
        height: calc(100vh - 8vw - 25vw);
        min-height: 200px;
        display: flex;
        /*コメント*/
        .comment
        {
            display: flex;
            align-items: center;
            margin-left: 5vw;
            /*アイコン*/
            #icon
            {
                position: absolute;
                bottom: 5vh;
                left: 9vh;

                width: 10vh;
                height: 10vh;
                border-radius: 100%;
            }
            /*コメント*/
            p
            {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;

                bottom: 10vh;
                left: 19vh;
                height: 12vh;
                width: 12.5vw;
                background-size: 100%;
                background-position: center;

                font-size: 1.1vw;
            }
        }

        /*シェア*/
        .share
        {
            /*説明文*/
            explain
            {
                position: absolute;
                right: 1vw;
                bottom: calc(1vw + 5vw + 1vw);
                font-size: 1.7vw;
            }
            /*シェアエリア*/
            .shareBox
            {
                position: absolute;
                right: 1vw;
                bottom: 1vw;
                /*表示設定*/
                display: flex;
                background-color: rgb(127, 127, 127);
                /*大きさ調整*/
                width: 33vw;
                height: 5vw;
                /*シェア文字*/
                p
                {
                    padding: 1vw;
                    font-size: 2vw;
                }
                /*リンク*/
                .shareLinks
                {
                    text-align: center;
                    align-items: center;
                    a img
                    {
                        margin: 1vw;
                        width: 5.5vw;
                        height: 3vw;
                    }
                }
            }
        }
    }
}

/*スマホ版*/
@media (max-width:768px)
{
    /*お知らせ*/
    .notice
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: calc(60vh - 25vw);
        min-height: 310px;
        /*タイトル*/
        .title
        {
            font-size: 20px;
        }
        
        .cm
        {
            gap: 3vw;
            div
            {
                align-items: center;
                height: 50%;
                transform: scaleY(2);
                font-size: 70px;
            }
        }
        
        /*画像*/
        #imgBox
        {
            /*スタイル設定*/
            width: 70vw;
            height: 39.375vw;/*FHDに対応させたサイズ*/
            border-radius: 25px;
        }
    }

    /*コメントとシェア*/
    .others
    {
        position: relative;
              /*全体の高さ-帯の高さ-お知らせの高さ*/
        height: calc(100vh - 25vw - 2vw - calc(60vh - 25vw - 2vw));
        min-height: 250px;
        /*コメント*/
        .comment
        {
            display: flex;
            margin-left: 5vw;
            height: auto;
            /*アイコン*/
            #icon
            {
                left: 10%;
                top: 10%;
                position: absolute;
                width: 20vw;
                border-radius: 100%;
            }
            /*コメント*/
            p
            {
                position: absolute;
                
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                /*位置調整*/
                left: 32%;
                top: 0%;
                /*大きさ調整*/
                width: 40vw;
                height: 20vw;
                color: black;
                background-position: center;
                background-size: 100%;

                font-size: 4.5vw;
            }
        }

        /*シェア*/
        .share
        {
            position: absolute;
            width: 100%;
            bottom: 2vw;
            text-align: center;
            /*説明文*/
            explain
            {
                font-size: 5vw;
            }
            /*シェアエリア*/
            .shareBox
            {
                /*表示設定*/

                /*位置調整*/
                margin: auto;
                width: 90vw;
                /*リンク*/
                .shareLinks
                {
                    a img
                    {
                        margin: 1.5vw;
                        width: 20vw;
                    }
                }
            }
        }
    }
}