*/*初期化*/
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    white-space: nowrap;
}

.main
{
    width: 100vw;
    height: 100vh;
    background-color: rgb(38, 38, 38);
    overflow: auto;
}

a
{
    color: white;
    text-decoration: none;
}

.gamesArea
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    align-items: center;
    text-align: center;
    
    justify-content: center;
    /*ゲームのボックス*/
    div
    {
        width: 23vw;
        height: 30vw;
        margin-right: auto;
        margin-left: auto;
        margin-top: 2vw;
        background-color: rgb(6, 62, 88);
        /*ゲーム情報*/
        a
        {
            /*下線部消す*/
            text-decoration: none;
            /*ゲーム画像*/
            img
            {
                border-radius: 5px;
                margin-top: 2vw;
                width: 20vw;
            }
            /*タイトル*/
            p
            {
                color: white;
                font-size: 3vw;
            }
        }
        /*レビューボタン*/
        button
        {
            margin-top: 5vw;
            width: 20vw;
            height: 4vw;
            font-size: 2vw;
        }
    }
}

/*スマホ版*/
@media (max-width: 768px)
{
    .gamesArea
    {
        display: grid;
        grid-template-columns: 1fr 1fr;

        align-items: center;
        text-align: center;

        justify-content: center;
        /*ゲームのボックス*/
        div
        {
            margin: auto;
            /*サイズ*/
            width: 40vw;
            height: 45vw;
            margin-top: 20px;
            background-color: rgb(6, 62, 88);
            color: white;
            a
            {
                /*ゲーム画像*/
                img
                {
                    margin-top: 2vw;
                    width: 30vw;
                }
                /*タイトル*/
                p
                {
                    font-size: 5vw;
                }
            }
            /*レビューボタン*/
            button
            {
                margin-top: 5vw;
                width: 35vw;
                height: 8vw;
                font-size: 4vw;
            }
        }
    }
}