*/*初期化*/
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    white-space: nowrap;
    
    text-decoration: none;
}

body , html
{
    background-color: rgb(38, 38, 38);
}

.main
{
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(38, 38, 38);
    overflow: auto;
}

.profile
{
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin-top: 10vh;
}

/*自己紹介部分*/
.introduction
{
    width: 50vw;
    height: 15vw;
    gap: 10px;
    color: white;

    div
    {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        /*アイコンと名前*/
        a
        {
            width: 20%;
            display: flex;
            flex-direction: column;
            text-align: center;
            /*アイコン*/
            img
            {
                border-radius: 100%;
                width: 10vw;
                height: 10vw;
            }

            .name
            {
                color: white;
                font-size: 2vw;
            }
        }
        /*詳細部分*/
        pre
        {
            margin-left: 2vw;
            font-size: 2.5vw;
        }
    }
}

/*余談部分*/
.memo
{
    text-align: center;
    /*縦並び*/
    width: 100%;
    height: 100%;
    height: 100%;
    /*中央寄せ*/
    .title
    {
        margin-top: 2vw;
        font-size: 3vw;
        height: auto;
        color: orange;
    }
    p
    {
        font-size: 2vw;
        color: white;
    }
}

/*コメント部分*/
.comment
{
    grid-column: 1 / 3;
    width: 100%;
    height: 10vw;
    .box
    {
        width: 100%;
        .title
        {
            width: 100%;
            font-size: 3vw;

            text-align: center;
            color: orange;
        }
        p
        {
            font-size: 2vw;
            text-align: center;
            color: white;
        }
    }
}

/*サイト専用SNS*/
.sns
{
    width: 100%;
    height: calc(100vh - 8vw - 15vw - 10vw);

    .comment
    {
        display: flex;
        height: 50%;
        width: 50%;
        align-items:flex-end;
        text-align: left;
        margin-left: 2vw;

        color: white;
    }

    .links
    {
        height: 50%;
        align-items: end;
        justify-content: end;

        .button
        {
            display: flex;
            justify-content: left;
            align-items: center;
            margin-right: auto;
            height: 5vw;
            min-height: 50px;
            width: 50%;
            margin-left: 2vw;
            margin-bottom: 2vh;
            background-color: rgb(127, 127, 127);
            
            border-radius: 5px;

            p
            {
                display: flex;
                align-items: center;
                justify-content: right;

                font-size: 2vw;

                width: 40%;
                height: 100%;
            }

            div
            {
                display: flex;

                width: calc(100% - 40% - 2vw);

                a
                {
                    display: flex;
                    text-align: center;
                    align-items: center;
                    flex-direction: column;

                    width: calc(100% / 3);

                    img
                    {
                        width: 50%;
                        aspect-ratio: 33 / 17;
                    }
                    p
                    {
                        justify-content: center;
                        width: 100%;

                        font-size: clamp(15px,1vw,25px);
                        color: black;
                    }
                }
            }
        }
    }
}

/*スマホ版*/
@media (max-width:768px)
{
    .profile
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        justify-content: center;
        align-items: start;

        height: 50vh;

        margin-top: 7.5vh;

        .introduction
        {
            grid-column: 1 / 3;
            width: 100%;
            height: 20vh;

            div
            {
                display: flex;
                width: 100%;
                justify-content: start;

                a
                {
                    margin-left: 10%;
                    width: 20%;
                    text-align: left;
                    align-items: center;

                    #icon
                    {
                        width: 20vw;
                        height: 20vw;
                    }

                    .name
                    {
                        width: 50%;
                        text-align: center;
                    }
                }
                pre
                {
                    width: 70%;
                    text-align: left;
                    align-items: center;
                    font-size: 5vw;
                }
            }
        }

        .memo
        {
            width: 100%;
            height: 30vh;
            align-items: center;
            text-align: center;
            .title
            {
                font-size: 8vw;
            }

            p
            {
                white-space: normal;
                font-size: 5vw;
            }
        }

        .comment
        {
            width: 100%;
            height: 30vh;
            grid-column: auto;

            .box
            {
                .title
                {
                    font-size: 8vw;
                }
                p
                {
                    white-space: normal;
                    font-size: 5vw;
                }
            }
        }
    }

    .sns
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: calc(100vh - 25vw - 50vh);
        text-align: center;

        .comment
        {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            justify-content: end;
            margin-left: 0;

            height: 20vw;
            width: 100vw;
            font-size: 3.5vw;
        }

        .links
        {
            position: fixed;
            bottom: 2vh;
            display: block;
            text-align: center;
            align-items: center;

            height: 25vw;
            width: 100%;

            .button
            {
                display: flex;
                flex-direction: column;

                margin: auto auto;

                align-items: center;
                justify-content: center;
                
                height: 20vw;
                width: 85%;
                background-color: rgb(127, 127, 127);
                p
                {
                    font-size: 3vw;
                    height: 20%;
                }

                div
                {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 80%;
                    gap: 8vw;
                    a
                    {
                        img
                        {
                            width: 18vw;
                            height: 10vw;
                        }
                        p
                        {
                            font-size: 3vw;
                            color: black;
                        }
                    }
                }
            }
        }
    }
}